[package]
name = "cxsign"
edition = "2021"
version.workspace = true
authors.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
resolver = "2"
members = ["crates/*", "."]

[workspace.package]
version = "0.1.1"
authors = ["worksoup"]

[workspace.dependencies]
#anyhow = "1.0"
chrono = "0.4"
cookie_store = "0.21"
log = { version = "0.4", features = ["release_max_level_info"] }
percent-encoding = "2.3"
rand = "0.8"
serde = "1.0"
serde_json = "1.0"
sqlite = "0.34"
thiserror = "1.0"
ureq = "2.9"

[dependencies]
cxsign_app = { path = "crates/cxsign_app" }

#chrono = "0.4"
#clap = { version = "4.5", features = ["derive"] }
#cookie_store = "0.21"
#directories = "5.0"
#futures = "0.3"
#image = "0.24"
#inquire = "0.7"
#lazy_static = "1.4"
#percent-encoding = "2.3"
#rand = "0.8"
#reqwest = { version = "0.11", features = [
#    "json",
#    "cookies",
#    "gzip",
#    "deflate",
#    "cookie_store",
#    "multipart",
#] }
##reqwest_cookie_store = "0.6"
#rxing = "0.5"
#xcap = "0.0.4"
#serde = "1.0"
#serde_json = "1.0"
#serde_derive = "1.0"
#tokio = { version = "1.36", features = ["full"] }
#tokio-stream = "0.1"
#unicode-width = "0.1"
#num_enum = "0.7"

# url = "2.4"
# strfmt = "*"
# utf8_slice = "1.0"
# trauma = "2.2"
# thread_local = "1.1"
# ctrlc = "3.4"
# regex = "1.10"
# toml = "0.8"
